/* ---------------------------------
 *            页脚
 * --------------------------------- */
.aplayer-narrow{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.aplayer-narrow:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.aplayer{
    transition: all .5s ease-out;
}

.aplayer .aplayer-miniswitcher {
    background: white !important;
}

/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem

.footer-logo
    img
        max-height: $logo-height
