screen-onek = 1700px

@media screen and (min-width: screen-onek)
    .container
        max-width: 1600px
        width: 1600px
        .column.is-3-widescreen
            width: 22%
        .column.is-6-widescreen
            width: 56%